<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đăng ký</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 row-6 border">
      <div class="row bg-light d-flex justify-content-center">
        <div>Xem báo cáo thống kê</div>
      </div>
      <div class="row bg-dark d-flex justify-content-end">
        <div class="text-light">[[ ${session.quanLy.hoTen} ]]</div>
        <div>
          <img src="/static/my_img.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 bg-dark">
          <div class="row">
            <a href="/thong-ke-theo-doanh-thu" class="text-light">Thống kê nhà cung cấp theo doanh thu</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>